@charset "utf-8";

.scale_img{transform: scale(1); transition: .5s;}
.scale_img:hover{transform: scale(1.03); transition: .5s;}
.shop_con{max-width:1920px; margin:0 auto;}
.pc{display: block;}
.mb{display: none;}
@media (max-width:770px){
    .pc{display: none;}
    .mb{display: block;}
}
/*샵 타이틀*/
.title_con{border-bottom:1px solid #f2f2f2; background: #fff;}
.title_con>ul{display: flex; justify-content: center;}
.title_con>ul>li{font-size:1.3rem; color:#333; padding:1rem;}
.title_con>ul>li>a{color:#333;}
.title_con .tit_my{display: inline-flex; justify-content: space-between;}
.title_con .tit_my button{background:#333; color:#fff; border:1px solid #ddd; padding:0 1rem; margin-left: 0.5rem; font-size:1rem; line-height: 1.9rem; transform: translateY(-3px);}
.language{position: relative; cursor: pointer;}
.language>ul{position: absolute; left:0; top:100%; right:0; border:1px solid #f2f2f2; display: none; background-color:#fff;}
.language>ul>li{border-bottom:1px solid #f2f2f2; padding-left: 1rem;}
.language>ul>li:hover{background-color:#f2f2f2;}
.language>ul>li:last-child{border:0;}
.language>ul>li>a{font-size:1.3rem; line-height: 2rem; color:#333; display: block;}
.tit_my_p{position: relative;}
.tit_my_p>ul{position: absolute; left:0; top:100%; right:0; border:1px solid #f2f2f2; display: none; z-index: 10; background-color:#fff;}
.tit_my_p>ul>li{border-bottom:1px solid #f2f2f2; text-align: center;}
.tit_my_p>ul>li:hover{background-color:#f2f2f2;}
.tit_my_p>ul>li:last-child{border:0;}
.tit_my_p>ul>li>a{font-size:1.2rem; line-height: 2.4rem; color:#333; display: block;}

@media (max-width:990px){
    .title_con{display: none;}
    .gnb{top:0 !important;}
}

/*로고 sns*/
.log_l .shop_con{justify-content: space-between; display: flex; padding:3rem 1rem; align-items: center;}
.social_btn {flex-basis: 20%;}
.social_btn ul{justify-content: center; display: flex; }
.social_btn ul li{padding:1rem;}
.social_btn ul li a{background:none; border:1px solid #ddd; width:5rem; height:5rem; border-radius:5rem; font-size:2.4rem; transition:.5s;color:#000; text-align: center; display: block; line-height: 5rem;}
.social_btn ul li.kakao_sns a:hover{background-color:#e0b914; transition:.5s;}
.social_btn ul li.instar_sns a:hover{background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); color:#fff; transition:.5s;}
.social_btn ul li.face_sns a:hover{background-color:#1057b7; color:#fff; transition:.5s;}
.log_l .logo {flex-basis: 60%; text-align: center;}
.log_l .logo a{display: inline-block;}
.log_l .head_btn{flex-basis: 20%;}
.log_l .head_btn ul{justify-content: center; display: flex; }
.log_l .head_btn ul li{padding:1rem;}
.log_l .head_btn ul li a{background:none; border:1px solid #ddd; width:5rem; height:5rem; border-radius:5rem; font-size:2.4rem; display: inline-block; line-height: 5rem; text-align: center; color:#333; transition:.5s;}
.log_l .head_btn ul li a:hover{background-color:#333; color:#fff; transition:.5s;}

@media (max-width:770px){
    .log_l .shop_con{padding: 1rem;}
    .log_l .logo a{max-width:6rem;}
    .social_btn ul li {padding: 0.3rem;}
    .social_btn ul li a{font-size:1.5rem; width:3rem; height:3rem; line-height: 3rem;}
    .log_l .head_btn ul li{padding: 0.3rem;}
    .log_l .head_btn ul li a{font-size:1.5rem; width:3rem; height:3rem; line-height: 3rem;}
}

/*pc 카테고리*/
.gnb {display: flex; justify-content: space-between; border-top:1px solid #ddd; border-bottom:1px solid #ddd; position: sticky; top:0; z-index: 100; background-color:#fff;}
.gnb>ul{display: flex; justify-content: center; align-items: center; flex-basis: 80%;}
.gnb>ul>li{padding:0 2.4rem; display: inline-flex; justify-content: center; overflow: hidden;}
.gnb>ul>li>a{font-size:1.4rem; color:#333; line-height: 4rem;}
.gnb_all_btn{background-color:#333; padding: 0 2rem; display: inline-flex; align-items: center; justify-content: center; flex-basis: 10%; cursor: pointer;}
.gnb_all_btn button{background:none; color:#fff; border:0; font-size:1.4rem; line-height: 3.5rem; }
.gnb_all_btn .gnb_ham{color:#fff; display: inline-flex; width:3.5rem; flex-direction: column; align-items: center;}
.gnb_all_btn .gnb_ham span{display:flex; background-color:#fff; height:0.1rem; width:2.5rem; margin-bottom: 0.5rem; transition:.5s;}
.gnb_all_btn .gnb_ham span:last-child{margin-bottom: 0;}
.search_btn{background-color:#333; display: inline-flex; align-items: center; justify-content: center; flex-basis: 10%;}
.search_btn button{line-height: 3.5rem; border:0; background:none; color:#fff; font-size:1.4rem; display: block; width:100%; }



/*검색모달*/
.search_modal{ }
.search_modal .modal-content{background:none; border:0; }
.search_modal .modal-header{text-align: center; justify-content: center !important; border-bottom:0; padding: 4rem 0;}
.search_modal .modal-header .search_mod_close{padding:0; margin:0; outline: none; font-size:2rem; color: #fff; background:none; border-radius:50px; border:2px solid #fff; padding: 2rem; }
.search_mod_form{display: flex; flex-direction: column;}
.search_mod_form .search_mod_input{display: inline-flex; justify-content: space-between;}
.search_mod_form .search_mod_input .smi_select{flex-basis: 25%; border-bottom:2px solid #fff; }
.search_mod_form .search_mod_input .smi_select select{ font-size:2rem; color:#fff; background:none; border:0;  outline: none; cursor: pointer; line-height: 5rem; width:100%;}
.search_mod_form .search_mod_input select option{background:rgba(0,0,0,0.9); box-shadow:0 !important; font-size:1.5rem;}
.search_mod_form .search_mod_input .smi_input{flex-basis: 63%;  border-bottom:2px solid #fff; }
.search_mod_form .search_mod_input .smi_input input{width:100%; background:none; border:0; outline: none; font-size:2rem; color:#fff; line-height: 5rem;}
.search_mod_form .search_mod_input button{flex-basis:10%; line-height: 5rem; border:0; font-size:3rem; background:none; color:#fff;}
.search_modal .modal-body{padding:0;}
.search_modal .modal-footer{border:0;}
.prd_bst_keyword{display: flex; padding-top: 4rem;}
.prd_bst_keyword ul{display: flex; flex-wrap: wrap;}
.prd_bst_keyword ul li{flex-basis: 33.333%; display: flex; padding: 1rem;}
.prd_bst_keyword ul li a{width:100%; display: block;  justify-content: center; align-content: center;  font-size:1.2rem; color:#fff; line-height: 3.4rem; border:1px solid #fff;}
.prd_bst_keyword ul li a:hover{background-color:rgba(0,0,0,.5); transition: .5s; border-color:#000;}
.prd_bst_keyword ul li a span{align-self:flex-start; display: inline-block; padding: 0 1rem; border-right:1px solid #fff; margin-right: 0.5rem;}
.prd_bst_keyword ul li a:hover span{border-color:rgba(0,0,0,.5);}

@media (max-width:770px){
    .prd_bst_keyword{padding-top: 1rem;}
    .prd_bst_keyword ul li{flex-basis: 50%; padding: 0.3rem;}
    .search_modal .modal-header .search_mod_close{padding: 1.2rem;}
    .search_mod_form .search_mod_input{max-width:30rem;}
    .search_mod_form .search_mod_input .smi_select select{font-size:1.2rem; flex-basis:30%; border-radius:0; line-height: 3.5rem;}
    .search_mod_form .search_mod_input .smi_input{flex-basis:53%; font-size:1.5rem; border-radius:0; width:100%;}
    .search_mod_form .search_mod_input .smi_input input{line-height: 3.5rem;}
    .search_mod_form .search_mod_input button{flex-basis: 15%; padding:0; line-height: 3.5rem;}
}

.gnb_all_btn:hover span:nth-child(1){transition:.5s; transform: rotate(45deg) translate(0.7rem, -0.5rem); width:1.1rem;}
.gnb_all_btn:hover span:nth-child(2){transition:.5s;}
.gnb_all_btn:hover span:nth-child(3){transition:.5s; transform: rotate(-45deg) translate(0.7rem, 0.5rem); width:1.1rem;}

.btn-flip {opacity: 1;outline: 0; color: #fff; line-height: 4rem; position: relative; text-align: center; letter-spacing: 1px; display: inline-block; text-decoration: none; text-transform: uppercase;}
.btn-flip:hover:after {opacity: 1; transform: translateY(0) rotateX(0);}
.btn-flip:hover:before {opacity: 0;transform: translateY(50%) rotateX(90deg);}
.btn-flip:after {top: 0; left: 0; opacity: 0; width: 100%; color: #fff; display: block; transition: 0.5s; position: absolute; background: #333; content: attr(data-back); transform: translateY(-50%) rotateX(90deg);}
.btn-flip:before {top: 0; left: 0; opacity: 1; color: #333; display: block; padding: 0 3rem; line-height: 4rem; transition: 0.5s; position: relative; background: none; content: attr(data-front); transform: translateY(0) rotateX(0);}

@media (max-width:770px){
    .gnb>ul{overflow-x: auto !important; display: block; overflow: hidden; white-space: nowrap;}
    .gnb>ul>li>a{white-space: nowrap; font-size:1.2rem;}
    .btn-flip:hover:after{padding: 0 1rem;}
    .gnb_all_btn{padding: 0 0.5rem;}
    .btn-flip:hover:after {transform: none;}
    .btn-flip:hover:before {transform: none; opacity:1;}
    .btn-flip:after {display: none;}
    .btn-flip:before {color:#000;}
}

/*퀵메뉴*/
.quick_menu{position:fixed; bottom:5%; right:5%; min-width:50px; margin:auto; height:50px; z-index: 98;}
.quick_menu.on{width:300px;}
.quick_menu input{ position:absolute; top: 0%; right:0; width:50px; height:50px; z-index:20; border-radius: 80px; opacity:0; cursor:pointer;}
.hamburger{position:absolute; top:0%; right:0; width: 50px; height:50px; background-color: #3e3e3e; border-radius:100%; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); z-index:10; cursor:pointer; }
.quick_menu .dots span{position: absolute;  top: 45%; width:4px; height:8px; border-radius:8px; background:#fff; z-index:20; transition: all .3s ease-in-out;}
.quick_menu .first{margin-left:1em;}
.quick_menu .second{margin-left:2.3em;}
.quick_menu .third{margin-left:3.6em;}
.quick_menu input:checked ~ .hamburger .dots .first{top:17px; left:4px; height:25px; transform-origin:top; transform:rotate(-45deg);  transition: all .3s ease-in-out;}
.quick_menu input:checked ~ .hamburger .dots .second{opacity:0;}
.quick_menu input:checked ~ .hamburger .dots .third{top:17px; left: -5px; height:25px; transform-origin:top; transform:rotate(45deg);  transition: all .3s ease-in-out;}
.action_items_bar{position:absolute; top:0%; right:0; width:100%; height:50px; background-color: #f2f2f2; border-radius:60px; box-shadow: 0px 5px 20px #f3f3f3; z-index:5;/*   animation-name: expand-the-bar;animation-duration: 2s; animation-timing-function: ease-in-out; */ transform:scaleX(0); transition: all .3s ease-in-out;}
.quick_menu input:checked ~ .action_items_bar{transform:scaleX(1);}
.action_items{width:100%; min-width:300px;}
.action_items span{ position: absolute; top: 25%; width:20%; font-size:1rem !important;  display: flex; text-align: center; flex-direction: column; opacity:0; transition: all .2s ease-in-out; cursor:pointer; }
.action_items span i{font-size:2.4rem; }
.first_item{left:0%; color:#666;}
.second_item{left:20%; color:#666;}
.third_item{left:40%; color:#666;}
.fourth_item{left:60%; color:#666;}
.quick_menu input:checked ~ .action_items_bar .action_items .first_item{opacity:1;transition-delay:.45s;}
.quick_menu input:checked ~ .action_items_bar .action_items .second_item{opacity:1;transition-delay:.40s;}
.quick_menu input:checked ~ .action_items_bar .action_items .third_item{opacity:1;transition-delay:.40s;}
.quick_menu input:checked ~ .action_items_bar .action_items .fourth_item{opacity:1;transition-delay:.45s;}

@media (max-width:1280px){
    .gnb>ul>li{padding: 0 1rem;}
    .btn-flip:before{padding: 0 1rem;}
}
@media (max-width:1024px){
    .gnb>ul>li{padding: 0 0.5rem;}
}
@media (max-width:990px){
    .gnb_all_btn>button{display: none;}
    .search_btn>button>span{display: none;}
}
/*ALLL CATEGORY & MOBILE CATEGORY*/
.category_b{}
.cate_mask{display:none; position: fixed; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0); z-index: 100; cursor: pointer; transition:.5s; width: 100%; height:100%; overflow: hidden;}
.cate_mask.on{display: block; background-color:rgba(0,0,0,.7); transition:.5s;}
.category{width:20vw; height:100vh; position: fixed; top:0; left:-100%; bottom:0; z-index:101; background-color:#fff; height:100vh; display: flex; flex-direction: column; transition:.5s; padding: 0.1rem;}
.category.on{left:0; transition:.5s;}
.cate_close{position: absolute;left:100%; top:50%; transform: translateY(-50%);}
.cate_close button{width:3rem; height:6.6rem; font-size:2rem; border:0; background:url(../../images/cate_close_btn.png) no-repeat center center;color:#fff; z-index: 99; background-size:auto 100%;}
.category .cate_tit_mem>ul{display: flex; justify-content:space-between; border-bottom:1px solid #ddd;}
.category .cate_tit_mem>ul>li{width:calc(100%/3);text-align: center; border-right:1px solid #ddd;}
.category .cate_tit_mem>ul>li:last-child{border:0; line-height: 3rem;}
.category .cate_tit_mem>ul>li>a{line-height: 3rem; color:#333; font-size:1.2rem; }
.category .cate_tit_mem .mem_info{border-bottom:1px solid #ddd;}
.category .cate_tit_mem .mem_info .mi_unlog{display: flex; padding: 2rem 1.5rem;  justify-content: center;}
.category .cate_tit_mem .mem_info .mi_unlog a{border:1px solid #ddd; color:#fff; line-height: 3rem; padding: 0 3rem; font-size:1.2rem; background-color:#333;}
.category .cate_tit_mem .mem_info .mi_unlog a:first-child{margin-right: 0.5rem;}
.category .cate_tit_mem .mi_info{display: flex; flex-direction: column; align-items: center;}
.category .cate_tit_mem .mi_info .mii_icon{width:5rem; height:5rem; font-size:3.5rem; border:1px solid #ddd; border-radius:5rem; line-height: 5rem; text-align: center; margin-top: 2rem;}
.category .cate_tit_mem .mi_info>button{line-height: 2rem; margin-top: 1rem; background-color:#333; color:#fff; border:0; padding:0 2rem;}
.category .cate_tit_mem .mi_info>p{font-size:1.4rem; margin-bottom: 0.5rem; line-height: 2.4rem;}
.category .cate_tit_mem .mi_info>p>span{font-weight:700;}
.category .cate_tit_mem .mi_info>ul{display: flex; width:100%; justify-content: space-between;  border-top:1px solid #ddd;}
.category .cate_tit_mem .mi_info>ul>li{flex-basis: calc(100%/3); border-right:1px solid #ddd;}
.category .cate_tit_mem .mi_info>ul>li:last-child{border-right:0;}
.category .cate_tit_mem .mi_info>ul>li>a{line-height: 3rem; color:#111; display: block; text-align: center; font-size:1.2rem; background-color:#f3f3f3;}
.category .cate_tit_mem .mi_info>ul>li>a>span{display: inline-flex; color:#fff; color:#22a8ef; font-weight: 600;}
.all_cate{}
.all_cate .bar_cate{display: flex; flex-wrap: wrap;}
.all_cate .bar_cate>li{flex-basis:33.3333%; display: inline-flex; border-right:1px solid #ddd;}
.all_cate .bar_cate>li:nth-child(3){border-right:0;}
.all_cate .bar_cate>li:last-child{border-right:0;}
.all_cate .bar_cate>li>a{line-height: 3.5rem; width:100%; text-align: center;border-bottom:1px solid #ddd; font-size:1.2rem; color:#333; background-color:#f3f3f3; color:#333; }
.all_cate .shop_cate{display: flex; flex-direction: column;}
.all_cate .shop_cate>li{display: flex; justify-content: space-between; flex-direction: column; border-bottom:1px solid #f2f2f2;}
.all_cate .shop_cate>li:hover{background-color:#333; transition:.5s;}
.all_cate .shop_cate>li>a{line-height: 2.4rem; font-size:1.2rem; color:#000; flex-grow: 1; display: flex; justify-content: space-between; padding:1rem 2rem; cursor: pointer;}
.all_cate .shop_cate>li:hover>a{color:#fff;}
.all_cate .shop_cate>li>a>i{height: 2.4rem; width:2.4rem; line-height: 2.4rem; font-size:2rem;   text-align: center; border:1px solid #333; cursor: pointer; border-radius:50px; color:#fff; color:#333; flex-grow: 0; transition:.5s;}
.all_cate .shop_cate>li:hover>a>i{color:#fff; border-color:#fff;}
.all_cate .shop_cate>li.open>a>i{transform: rotate(180deg); transition:.5s;}
.all_cate .shop_cate>li>ul{display: none; background-color:#f3f3f3; overflow: hidden; border-top:1px solid #ddd;}
.all_cate .shop_cate>li>ul>li{display: inline-block; width:50%; float: left; border-bottom:1px solid #ddd;}
.all_cate .shop_cate>li>ul>li>a{line-height: 3rem; text-align: center; color:#000; font-size:1.2rem; justify-content: space-between; display: flex; width;100%; padding: 1rem; border-right:1px solid #ddd;}
.all_cate .shop_cate>li>ul>li>a>i{line-height: 3rem;}
.all_cate .shop_cate>li>ul>li:nth-child(even)>a{border-right:0;}

.cate_bottom{position: absolute; left:0; bottom:0; right:0; display: flex; flex-direction: column;}
.cate_bottom ul{display: flex; flex-direction: row; flex-wrap: wrap; border-top:1px solid #c7c7c7;}
.cate_bottom ul li{flex-basis: 50%;}
.cate_bottom ul li a{text-align: center; width:100%; display: block; line-height: 3rem; font-size:1.2rem; background-color:#ddd; color:#000; border-right: 1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;}
.cate_bottom ul li a:hover{background-color:#525252; color:#fff; transition:.5s;}
.cate_bottom .cb_call{padding: 2rem 0; text-align: center;}
.cate_bottom .cb_call p{font-size:1.4rem; margin-bottom: 1rem;}
.cate_bottom .cb_call a{font-size:3rem; color:#000; line-height: 4rem;}
.cate_bottom .cb_call a i{background-color:#000; color:#fff; padding: 1rem; border-radius:1rem; margin-right: 1rem; font-size:2rem;}
@media (max-width:1280px){
    .category{width:50vw;}
    .category_cover{overflow-y: scroll;}
    .cate_close button{padding:0;}
    .cate_bottom{position: relative;}
}
@media (max-width:990px){
    .cate_bottom{position: relative;}
}
@media (max-width:770px){
    .cate_bottom .cb_call{padding-bottom: 10rem;}
    .category{width:85vw;}
}
/*메인 배너*/
.vbb_cover{background-color:#fcfcfc; padding: 3rem 0;}
.vb_banner{display: flex; justify-content: space-between;}
.vb_banner>div{padding: 1rem;}
.vb_banner>div>a{overflow: hidden; display: inline-flex;}

@media (max-width:770px){
    .vb_banner{flex-direction: column; justify-content: flex-start;}
}

.prd_view_more{text-align: center; padding: 2rem 0 4rem 0; }
.prd_view_more button{line-height: 4.5rem; font-size:1.4rem; background:none; border: 1px solid #999; padding: 0 4rem; font-weight:300; transition:.5s;}
.prd_view_more button:hover{background-color:#333; transition:.5s; color:#fff;}

.best_item{padding: 4rem 0;}
.prd_list{}
.prd_tit{text-align: center; text-transform: uppercase; display: flex; justify-content: space-between; padding: 2rem 1rem;}
.prd_tit h1{font-size:2rem; font-weight:700; }
.prd_tit h1 span{font-size:1.2rem; font-weight:300; color:#666;}
.prd_tit a{font-size: 1.2rem; font-weight:500; color:#333;}
.prd_tit a i{font-size: 1.7rem; line-height: inherit; transform: translateY(3px);}
.prd_l_style{display: flex; flex-wrap:wrap; }
.prd_l_style>li{flex-basis: 25%; padding:1rem;  overflow: hidden;}
.prd_l_style .prd_img{position:relative; border:1px solid #f3f3f3;}
.prd_l_style .prd_img button.wish_btn{position:absolute; right:0; bottom:2rem; opacity:0; transition:.5s; line-height: 2rem; font-size:1.2rem; padding: 0 20px; border:1px solid #333; background-color:#f2f2f2; border-radius:5rem 0 0 5rem;}
.prd_l_style .prd_img button.wish_btn i{color:#999;}
.prd_l_style .prd_img button.wish_btn i.on{color:#e5186f;}
.prd_l_style .prd_img:hover button.wish_btn{opacity:1; transform: translateY(-2rem); transition:.5s;}
.sale_per{position: absolute; left:0; top:0; background-color: #333; color:#fff; width:3.5rem; height:3.5rem; line-height: 3.5rem; text-align: center; font-size:1.1rem; box-shadow: .3rem .3rem 0 rgba(0,0,0,.3); opacity: 0; transition:.5s;}
.prd_l_style .prd_img:hover .sale_per{top:1.5rem; left:1.5rem; opacity:1; transition:.5s;}
.soldout_b{position: absolute; left:0; right:0; bottom:0; top:0; background-color:rgba(0,0,0,0.7); opacity:0; transition:.5s; display: flex; justify-content: center; align-items: center; color:#fff; font-size:1.4rem; text-transform: uppercase;}
.prd_l_style .prd_img:hover .soldout_b{opacity:1; transition:.5s;}
.prd_img .prd_img_clk{overflow: hidden; display: block;}
.prd_txt{padding:1rem;}
.prd_txt>a.brand_name{background-color:#333; display: inline-block; padding:0.5rem 1rem; color:#fff; border-radius:5rem; font-size:1.1rem; font-weight:300;}
.prd_txt>a.prd_name{display: block; font-size:1.6rem;  line-height: 2.4rem; color:#333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;} 
.prd_txt>.prd_info{display: block; font-size:1.2rem; line-height: 1.6rem; color:#939393; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.prd_txt .prd_price_cover{flex-direction: row; display: flex; border-top:1px solid #ddd; padding: 1rem 0; margin-top: 1rem;}
.prd_txt .prd_price_cover .pp_sales{text-decoration:line-through; font-size:1.4rem; color:#999; margin-right: 2rem;}
.prd_txt .prd_price_cover .pp_num{font-size:1.4rem; font-weight:700;}
.prd_even_b ul{display: flex; flex-direction: row; }
.prd_even_b ul li{border:1px solid #ddd; text-transform: uppercase;  padding:0.5rem; margin-right: .5rem;}
.prd_even_b ul li.peb_txt_sold{background:#333; color:#fff;}
.prd_even_b ul li.peb_txt_sale{color:#e5186f;}
.prd_even_b ul li.peb_txt_best{color:#0080ff;}
.prd_even_b ul li.peb_txt_hot{color:#ff7600;}
.prd_even_b ul li.peb_txt_new{background:#f49595; color:#fff;}

.weekly_best {padding: 4rem 0;}
.weekly_best .weekly_prd{display: flex; flex-wrap: wrap; margin-top: 3rem; overflow: hidden;}
.weekly_best .weekly_prd li{flex-basis: 50%; padding: 1rem;}
.weekly_best .weekly_prd li a{overflow: hidden; display: flex;}

@media (max-width:770px){
    .weekly_best{padding: 0;}
    .prd_l_style>li{flex-basis: 50%; padding: 0.4rem;}
    .prd_txt>a.brand_name{font-size:1rem; padding: 0.4rem;}
    .prd_txt>a.prd_name{font-size:1.2rem; line-height: 1.6rem; margin-top: 0.5rem;}
    .prd_txt>.prd_info{font-size: 1.1rem;}
    .prd_txt .prd_price_cover .pp_sales, .prd_txt .prd_price_cover .pp_num{font-size:1.1rem;}
    .prd_txt .prd_price_cover{margin-top: 0.5rem;}
    .prd_even_b ul{flex-wrap: wrap;}
    .prd_tit h1{flex-direction: column; display: flex; text-align: left;}
    .prd_tit a{align-items: center; display: inline-flex;}
    .prd_tit a span{display: none;}
    .prd_even_b ul li{padding: 0.3rem 0.3rem; font-size:1rem; margin-right: 0.1rem;}
    .prd_l_style .prd_img .sale_per{opacity:1; top:0.5rem; left:0.5rem;}
    .prd_l_style .prd_img:hover .sale_per{ top:0.5rem; left:0.5rem;}
    .prd_l_style .prd_img button.wish_btn{opacity:1; bottom:0.5rem; padding: 0 0.5rem; border-color:#ddd;}
    .prd_l_style .prd_img:hover button.wish_btn{transform: none;}
    .prd_l_style .prd_img button.wish_btn span{display:none;}
    .weekly_best .weekly_prd li{flex-basis: 100%; padding: 0.3rem;}
}

.middle_title{}
.middle_title>h1{font-size:2.4rem; line-height: 4.5rem; text-align: center; font-weight:700; text-transform: uppercase;}
.middle_title>h1 span{color:#22a8ef;}
.middle_title>p{text-align: center; font-size:1.4rem; color:#999; margin-bottom: 2rem;}

.new_prd{padding: 4rem 0;}

.btm_banner{padding: 4rem 0;}
.btm_banner a{display: block; overflow: hidden;}

.tab_prd{padding: 4rem 0;}
.tab_p_tit>ul{display: flex; justify-content:center; margin-top: 4rem;}
.tab_p_tit>ul>li{text-align: center; padding: 0 1rem;}
.tab_p_tit>ul>li>button{border:0; background:none;}
.tab_p_tit>ul>li>button.active i, .tab_p_tit ul li button.active p{color:#22a8ef; border-color:#22a8ef;}
.tab_p_tit>ul>li>button i{border:1px solid #f2f2f2; width:4.5rem; height:4.5rem; line-height: 4.5rem; font-size:2.4rem; color:#333; border-radius:5rem;}
.tab_p_tit>ul>li>button p{margin-top: 1rem; font-size:1.2rem; color:#333;}
.tab_p_cover .tab-content{margin-top: 2rem;}

@media (max-width:770px){
    .new_prd{padding:0;}
    .btm_banner{padding:0;}
    .tab_p_tit>ul>li{padding:0 0.5rem; flex-basis: calc(100%/6);}
    .tab_p_tit>ul>li>button{padding:0;}
    .tab_p_tit>ul>li>button i{width:3rem; height:3rem; font-size:1.5rem; line-height: 3rem;}
    .tab_p_tit>ul>li>button p{font-size:1.1rem;}
}

.foot_sns{background-color:#f2f2f2; padding: 4rem 0;}
.foot_sns h1.sns_tit{text-align: center; font-size:1.6rem;}
.foot_sns p{text-align: center; line-height: 3rem; color:#888; font-size:1.2rem;}
.sns_list_cover ul{display: flex; flex-direction: row; flex-wrap: wrap;}
.sns_list_cover ul li{flex-basis: calc(100%/8); display: inline-flex; padding:1rem;}
.sns_list_cover ul li a{display: block; overflow: hidden; position: relative; border-radius:1.5rem; }
.sns_list_cover ul li a span{position: absolute; top:0; left:0; right:0; bottom:0; opacity:0; background-color:rgba(0,0,0,.6); display: inline-flex; justify-content: center; align-items: center; color:#fff; font-size:1.3rem; transition: .5s;}
.sns_list_cover ul li a span i{margin-right: .5rem;}
.sns_list_cover ul li a:hover{box-shadow:0.2rem 0.2rem 0.2rem rgba(0,0,0,.1);}
.sns_list_cover ul li a:hover span{opacity:1; transition: .5s;}

@media (max-width:770px){
    .sns_list_cover ul li{flex-basis: calc(100%/4);}
}


.footer_box{overflow: hidden;}  
.meni_top_box{border-bottom: 1px solid #e8e8e8; border-top: 1px solid #e8e8e8;width: 100%;}
.meni_top_box .meun_bar{ overflow: hidden;}
.meni_top_box .meun_bar ul{display: flex;  margin: 0 1rem; }
.meni_top_box .meun_bar ul li{ padding: 1.3rem 2.5rem;}
.meni_top_box .meun_bar ul li a{color: #939393; font-size: 1.3rem;}

.fcb_con{border-top:1px solid #ddd; padding: 2rem 0;}
.fcb_con .shop_con{display: flex; justify-content: space-between;}
.fcb_con .shop_con>div{display: flex; flex-direction: column; flex-basis: 25%; padding: 0 2rem;}
.fcb_con .shop_con>div>h4{font-size:2rem; position: relative; padding-left: 1rem; margin-bottom: 1.5rem;}
.fcb_con .shop_con>div>h4:after{content: ''; position: absolute; height: 2rem; width:0.3rem; background-color:#333; left:0; }
.fcb_customer>a{font-size:4rem; font-weight:700; color:#333; margin-bottom: 1.5rem;}
.fcb_customer p{font-size:1.2rem; line-height: 2rem;}
.fcb_bank p{font-size:1.5rem; margin-bottom: 1.2rem;}
.fcb_bank p.bank_no{font-size:2rem; font-weight: 700;}
.fcb_bank p span{background-color:#333; color:#fff; border-radius:50rem; padding: 0 2rem;}
.fcb_notice ul {display: flex; flex-direction: column;}
.fcb_notice ul li a{display: flex; justify-content: space-between; line-height: 2.4rem; color:#333; font-size:1.2rem; border-bottom:1px dotted #f2f2f2;}
.fcb_notice ul li a p{text-overflow: ellipsis; white-space: nowrap; flex-basis: 70%;}
.fcb_notice ul li a span{text-overflow: ellipsis; white-space: nowrap; flex-basis: 30%;}

.footInfo{}
.footInfo p{font-size:1.2rem; line-height: 1.6rem;}
footer .copy{line-height: 3rem; text-align: center;}
.fcb_con .social_btn ul{justify-content: flex-start;}
/*footer end*/

@media (max-width:1000px){
    .fcb_con .shop_con{display: flex; flex-wrap: wrap;}
    .fcb_con .shop_con>div{flex-basis: 50%; margin-bottom: 3rem;}
}
@media (max-width:770px){
    .fcb_con .shop_con>div{flex-basis:100%; margin-bottom: 2rem;}
    .fcb_con .shop_con>div>h4{font-size:1.5rem;}
    .fcb_customer>a{font-size:2rem;}
    .fcb_customer>p{font-size:1.2rem; line-height: 1.6rem;}
    .footInfo p{font-size:1rem;}
    .fcb_con .social_btn{margin-top: 1rem;}
    .meni_top_box .meun_bar ul {flex-wrap: wrap; text-align: center; padding:0; margin:0;}
    .meni_top_box .meun_bar ul li{padding: 1rem 0rem; flex-basis: 33.3333%; background-color:#f3f3f3; border-bottom:1px solid #fff; border-right:1px solid #fff;}
    .meni_top_box .meun_bar ul li:nth-child(3){border-right: 0;}
    .meni_top_box .meun_bar ul li:nth-child(6){border-right: 0;}
}
#popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4);}
/*팝업 박스*/
.popup_box{position: relative;top:50%;left:50%; max-width:550px; width:100%; transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:0; font-size:14px;word-break: break-word;}
.popup_box .popup_cont h2 {padding:25px;color:#fff;margin:0; background-color:#2c92dd; font-weight: 500;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px; max-height:600px; overflow-y:scroll;  padding: 25px;}
/*버튼영역*/
.popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#5d5d5d;word-break: break-word;}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px; color:#fff; font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#102c5c;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}

@media (max-width: 770px){
    .popup_box{max-width: 310px;}
    .popup_box .popup_cont p{max-height: 320px;}
    .popup_box .popup_cont h2{padding: 10px; font-size:14px;}
}